[Unit]
Description=Napster for !!Con2021!
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
ExecStart=/usr/bin/python3 {{ install_path }}/server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target